.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 50px;
  align-content: center;
  text-align: center;
}

.board{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 500px;
  
}